/target
/src-tauri/target/
/serveur
/release/
frontend/node_modules/
frontend/dist/
frontend/.tmp-tests/
.env
npm-debug.log*



# Added by cargo
#
# already existing elements were commented out

#/target
